.vscode/
parsing/.vscode
dist/
parsing/dist
asm/

*.o
*.a
*.d
*.exe

dist/
builds/
objbuilds/
depfiles/

libs/parsing/dist
libs/parsing/builds
libs/parsing/objbuilds
libs/parsing/depfiles